.bikes {
  display: grid;
  justify-content: center;
  margin-bottom: 92px;

  &__container {
    display: grid;
    row-gap: 40px;
    max-width: 392px;

    @include onDesktop {
      max-width: 100%;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 24px;
    }
  }

  &__title {
    @include onDesktop {
      font-size: 64px;
    }
  }

  &__card--img {
    height: 228px;

    @include onTablet {
      height: 316px;
    }

    @include onDesktop {
      height: 256px;
    }
  }

  &__card--img--1 {
    background-image: url(../images/bikes/sporty_4-high.png);
  }

  &__card--img--2 {
    background-image: url(../images/bikes/ride_in_town_ST.png);
  }

  &__card--img--3 {
    background-image: url(../images/bikes/agile_ride_3.png);
  }
}
