.bikes {
  justify-items: center;
  margin-bottom: 92px;

  &__container {
    @include pageGrid;
    row-gap: 40px;
  }

  &__card {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: span 4;
    }
  }

  &__card--img {
    height: 228px;

    @include onTablet {
      height: 316px;
    }

    @include onDesktop {
      height: 256px;
    }
  }

  &__card--img--1 {
    background-image: url(../images/bikes/sporty_4-high.png);
  }

  &__card--img--2 {
    background-image: url(../images/bikes/ride_in_town_ST.png);
  }

  &__card--img--3 {
    background-image: url(../images/bikes/agile_ride_3.png);
  }
}
