.compare {
  display: none;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba($color: $page-background-night, $alpha: 0.5);
  min-width: 320px;

  &--open {
    display: block;
  }

  &__container {
    position: absolute;
    left: 0;
    right: 0;

    margin-block: 20px;
    padding-inline: 20px;
    padding-top: 90px;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 1px solid $secondary-font-color;
    border-radius: 40px;
    justify-content: center;
    overflow-x: none;
    overflow-y: scroll;
    height: 100%;
    max-height: calc(100vh - 40px);
    min-width: 280px;

    @include resetScrollBar;

    @include onTablet {
      margin-inline: 72px;
    }

    @include onDesktop {
      margin-inline: 120px;
    }
  }

  &__button--close {
    display: flex;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px solid $secondary-font-color;
    border-radius: 10px;
    background-color: rgba($color: $secondary-font-color, $alpha: 0.2);
    top: 0;
    right: 0px;
    margin: 20px 20px 0 0;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
      background-color: rgba($color: red, $alpha: 0.4);
    }

    &::after {
      content: "";
      display: block;
      height: 30px;
      width: 6px;
      background-color: $secondary-font-color;
      transform: translateX(-50%) rotate(-45deg);
    }
    &::before {
      content: "";
      display: block;
      height: 30px;
      width: 6px;
      background-color: $secondary-font-color;
      transform: translateX(50%) rotate(45deg);
    }
  }

  &__bar {
    display: flex;
    height: 25px;
    width: 100%;
    border: 1px solid $secondary-font-color;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;

    &--first {
      height: 100%;
      width: 50%;
      background-color: rgba($color: $secondary-font-color, $alpha: 0.1);
      border-radius: 10px 0 0 10px;
      border-right: 1px solid $secondary-font-color;
    }

    &--last {
      height: 100%;
      width: 50%;
      background-color: rgba($color: $secondary-font-color, $alpha: 0.1);
      border-radius: 0 10px 10px 0;
      border-left: 1px solid $secondary-font-color;
    }
  }

  &__cards {
    column-gap: $compare-column-gap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    left: 0;
    right: 0;
    height: 100%;

    @include onDesktop {
      column-gap: calc($compare-column-gap * 9);
    }
  }

  &__top {
    z-index: 2;
    grid-column: 1 / -1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "first last";
    column-gap: $compare-column-gap;
    position: absolute;
    left: $compare-column-gap;
    right: $compare-column-gap;
    padding-top: 20px;

    @include onDesktop {
      column-gap: calc($compare-column-gap * 9);
    }
  }

  &__dropdown {
    position: relative;
    justify-items: center;

    &-top {
      display: flex;
      justify-content: end;
      width: 100%;
      max-width: 80%;
      background-color: rgba($color: $menu-background, $alpha: 0.5);
      border-radius: 10px;
      padding: 10px;

      &--open {
        border-radius: 10px 10px 0 0;
      }

      &-bike {
        align-content: center;
        margin-inline: auto;
        font-size: 20px;
        color: $primary-font-color;
        font-weight: 800;
      }

      &-button {
        position: relative;
        right: 0;
      }
    }

    &--first {
      grid-area: first;
    }
    &--last {
      grid-area: last;
    }

    &__list {
      width: 100%;
      max-width: 80%;
      display: none;

      &--open {
        display: grid;
      }
    }

    &__item {
      &--last {
        @include onDesktop {
          &:hover {
            background: linear-gradient(
              -90deg,
              rgba(29, 29, 29, 1) 0%,
              rgba(29, 29, 29, 1) 50%,
              rgba(29, 29, 29, 0) 100%
            );
          }
        }
      }
    }

    &__link {
      &--last {
        grid-template-columns: 1fr 162px;
      }
    }

    &__img {
      &--last {
        grid-area: last;
        transform: scaleX(-1);
      }
    }

    &__text {
      &--last {
        grid-area: first;
      }
    }
  }

  &__card {
    position: relative;
    left: 0;
    width: 100%;
    padding-block: 112px;
    background-color: rgba($color: $page-background-night, $alpha: 0.9);
    border-radius: 20px;

    &--first {
      z-index: 1;
    }

    &--last {
      grid-column: 2 / -1;
    }

    &-img {
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      aspect-ratio: 1.5 / 1;

      &--last {
        transform: scaleX(-1);
      }

      margin-bottom: 20px;
    }

    &-title {
      text-align: center;
      margin-bottom: 20px;

      @include onTablet {
        font-size: 24px;
      }

      @include onDesktop {
        font-size: 32px;
      }
    }
  }

  &__card-tth {
    text-align: center;
    justify-items: center;
    width: calc(200% + $compare-column-gap);
    border-radius: 20px;

    @include onDesktop {
      width: calc(200% + ($compare-column-gap * 9));
    }
  }
}

.tth {
  width: 100%;

  &__list {
    display: grid;
    row-gap: 5px;
    text-align: center;

    &:nth-child(1) {
      &::before {
        content: "";
        grid-column: 1 / -1;
        display: block;
        position: relative;
        top: 4px;
        height: 1px;
        width: 100%;
        background: #fff;
        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0) 0%,
          rgba(255, 255, 255, 0.6) 25%,
          rgba(255, 255, 255, 1) 50%,
          rgba(255, 255, 255, 0.6) 75%,
          rgba(255, 255, 255, 0) 100%
        );
      }
    }
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-areas: "first value last";
    font-size: 12px;

    @include onTablet {
      font-size: 18px;
    }

    @include onDesktop {
      font-size: 24px;
    }

    padding-block: 5px;
    background: #000;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 25%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0.6) 75%,
      rgba(0, 0, 0, 0) 100%
    );

    &::after {
      content: "";
      display: block;
      position: relative;
      grid-column: 1 / -1;
      bottom: -4px;
      height: 1px;
      width: 100%;
      background: #fff;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.6) 25%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0.6) 75%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }

  &__first {
    grid-area: first;
  }

  &__value {
    grid-area: value;
  }

  &__last {
    grid-area: last;
  }
}
