.contacts {
  &__title {
    @include onDesktop {
      font-size: 48px;
    }
  }

  &__content {
    @include pageGrid;
  }

  &__form {
    z-index: 3;
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 5;
    }

    margin-bottom: 48px;
  }

  &__info {
    grid-column: span 2;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: 8 / -1;
    }

    ul:not(:last-child) {
      font-weight: 400;
      margin-bottom: 24px;
    }

    li {
      font-weight: 500;
      font-size: 16px;
    }

    p {
      font-size: 14px;
      line-height: 140%;
      color: #cecece;
      margin-bottom: 8px;
    }
  }

  &__button {
    height: 56px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
