.details {
  margin-bottom: 80px;

  &__card {
    margin-bottom: 40px;
  }

  &__images {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__img {
    width: 130px;
    height: 130px;
  }

  &__img--1 {
    background-image: url(../images/bikes/ride_in_town_ST-1-low.png);
  }

  &__img--2 {
    background-image: url(../images/bikes/ride_in_town_ST-2-low.png);
  }

  &__img--3 {
    background-image: url(../images/bikes/ride_in_town_ST-3-low.png);
  }

  &__img--4 {
    background-image: url(../images/bikes/ride_in_town_ST-4-low.png);
  }

  &__img--5 {
    background-image: url(../images/bikes/ride_in_town_ST-5-low.png);
  }

  &__img--6 {
    background-image: url(../images/bikes/ride_in_town_ST-6-low.png);
  }
}
