.details {
  margin-bottom: 80px;

  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include onTablet {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }
}

.detail {
  &__images {
    @include pageGrid;
    justify-items: center;
    margin-bottom: 16px;
  }

  &__link {
    @media (max-width: 743px) {
      aspect-ratio: 1 / 1;
    }

    &--wide {
      @include onTablet {
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--square {
      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
  }

  &__title {
    @include contentTitleFonts;
  }

  &__description {
    @include contentDescriptionFonts;

    &--margin {
      margin-bottom: 0;
    }
  }
}
