.details {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 180px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include onTablet {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }

  &__button {
    height: 56px;

    @include pageGrid;

    &-link {
      grid-column: span 2;

      @include onTablet {
        grid-column: 2 / -2;
      }

      @include onDesktop {
        grid-column: 5 / -5;
      }
    }
  }
}

.detail {
  &__container {
    position: relative;
    display: flex;
    gap: 20px;

    @include onTablet {
      gap: 24px;
    }
    margin-bottom: 16px;
  }

  &__link {
    width: 100%;
    transition: width 0.2s ease, aspect-ratio 0.3s ease;
    aspect-ratio: 1 / 1;

    &--wide {
      @include onTablet {
        width: 166%;
        aspect-ratio: 3 / 1;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    transition: all 0.5s ease;

    @include onDesktop {
      min-height: 375px;
    }

    &--reverse {
      transform: scaleX(-1);
    }

    &--position {
      object-position: 80%;
    }

    &--scale {
      z-index: 1;
      position: absolute;
      left: 0;

      @include onTablet {
        transform: scale(1.1);
      }

      @include onDesktop {
        transform: scale(1.1);
      }
    }
  }

  &__title {
    @include contentTitleFonts;
  }

  &__description-container {
    @include pageGrid;
  }

  &__description {
    grid-column: 1 / -1;

    @include contentDescriptionFonts;

    @include onDesktop {
      grid-column: 1 / 9;
    }

    &--margin {
      margin-bottom: 0;
    }
  }
}
