.details {
  margin-bottom: 80px;

  @include onTablet {
    margin-bottom: 120px;
  }

  @include onDesktop {
    margin-bottom: 180px;
  }

  &__wrapper {
    display: grid;
    row-gap: 40px;
    margin-bottom: 40px;

    @include onTablet {
      row-gap: 48px;
      margin-bottom: 48px;
    }
  }

  &__button {
    height: 56px;

    @include pageGrid;

    &-link {
      grid-column: span 2;

      @include onTablet {
        grid-column: 2 / -2;
      }

      @include onDesktop {
        grid-column: 5 / -5;
      }
    }
  }
}

.detail {
  &__images {
    @include pageGrid;
    margin-bottom: 16px;
  }

  &__link {
    height: 100%;
    width: 100%;

    &--wide {
      @include onTablet {
        aspect-ratio: 2 / 1;
        grid-column: span 4;
      }

      @include onDesktop {
        grid-column: span 8;
      }
    }

    &--square {
      aspect-ratio: 1 / 1;

      @include onTablet {
        grid-column: span 2;
      }

      @include onDesktop {
        grid-column: span 4;
      }
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;

    &--reverse {
      transform: scaleX(-1);
    }

    &--position {
      object-position: 80%;
    }
  }

  &__title {
    @include contentTitleFonts;
  }

  &__description-container {
    @include pageGrid;
  }

  &__description {
    grid-column: 1 / -1;

    @include contentDescriptionFonts;

    @include onDesktop {
      grid-column: 1 / 9;
    }

    &--margin {
      margin-bottom: 0;
    }
  }
}
