.free {
  font-weight: 500;
  margin-bottom: 92px;

  @include pageGrid;

  &__title {
    grid-column: span 2;
    text-align: left;
    margin-bottom: 32px;
    line-height: 100%;
    font-size: 32px;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
      grid-column: span 3;
    }

    @include onDesktop {
      font-size: 64px;
      grid-column: span 5;
    }
  }

  &__content {
    grid-column: span 2;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;

    @include onTablet {
      grid-column: span 3;
    }

    @include onDesktop {
      grid-column: span 6;
    }
  }
}
