.free {
  --grid-columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  font-weight: 500;
  margin-bottom: 92px;

  @include onTablet {
    --grid-columns: 6;
    column-gap: 24pz;
  }

  @include onDesktop {
    --grid-columns: 12;
  }

  &__title {
    grid-column: 1 / -1;
    text-align: left;
    margin-bottom: 32px;
    line-height: 100%;
    font-size: 32px;
    letter-spacing: -1.5px;
  }

  &__content {
    grid-column: 1 / -1;
    font-size: 23px;
    line-height: 140%;
    letter-spacing: 0px;
  }
}
