.section {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;
    grid-column: span 2;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}
