.card {
  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
