.card {
  display: flex;
  flex-direction: column;
  height: 466px;

  &__img {
    height: 228px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 32px;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    margin-bottom: auto;
  }

  &__price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}
