.card {
  display: flex;
  flex-direction: column;

  &__img {
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 32px;
  }

  &__title {
    @include contentTitleFonts;
  }

  &__description {
    @include contentDescriptionFonts;
  }

  &__price-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-top: auto;
  }
}
