.dropdown {
  z-index: 1;
  position: static;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: row;
  max-height: 536px;
  max-width: 800px;
  overflow-y: scroll;
  overflow-x: clip;
  row-gap: 20px;
  top: 56px;
  background-color: var(--bg-dropdown);
  padding-block: 56px;
  border-radius: 0 0 10px 10px;

  &--croll {
    top: 92px;

    @media (min-width: 1260px) and (max-width: 1450px) {
      top: 56px;
    }
  }

  &:hover::-webkit-scrollbar {
    width: 5px;
  }

  @include resetScrollBar;

  &-button {
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    min-width: 36px;
    height: 36px;
    border-radius: 5px;

    &:hover {
      background-color: var(--bg-dropdown);
    }

    &::before,
    &::after {
      content: "";
      height: 15px;
      width: 4px;
      background-color: var(--font-primary);
    }

    &::before {
      transform: rotate(45deg);
      transform-origin: bottom right;
    }

    &::after {
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }

    &--open {
      &::before {
        transform-origin: top right;
        transform: rotate(-45deg);
      }

      &::after {
        transform-origin: top left;
        transform: rotate(45deg);
      }
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 800;
    background-color: var(--bg-page);
    color: var(--font-primary);

    @include onDesktop {
      background-color: transparent;
      color: var(--font-secondary);
      font-size: 28px;
      &:hover {
        background: var(--bg-dropdown-grad);
        color: var(--font-primary);
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    grid-template-columns: 162px 1fr;
    grid-template-areas: "first last";
    column-gap: 20px;
    gap: 10px;

    @include onTablet {
      align-items: center;
      display: grid;
    }
  }

  &__img {
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    aspect-ratio: 1.5 / 1;
    background-color: var(--bg-page);

    &--1 {
      background-image: url(../images/bikes/bike_1--low.webp);
    }
    &--2 {
      background-image: url(../images/bikes/bike_2--low.webp);
    }
    &--3 {
      background-image: url(../images/bikes/bike_3--low.webp);
    }
    &--4 {
      background-image: url(../images/bikes/bike_4--low.webp);
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
