.dropdown {
  z-index: 1;
  position: static;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: row;
  max-height: 536px;
  max-width: 800px;
  overflow-y: scroll;
  overflow-x: clip;
  row-gap: 20px;
  top: 56px;
  background-color: rgba($color: $menu-background, $alpha: 0.5);
  padding-inline: 10px;
  padding-block: 56px;
  border-radius: 0 0 10px 10px;

  &:hover::-webkit-scrollbar {
    width: 5px;
  }

  @include resetScrollBar;

  &-button {
    // position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background-color: rgba($color: $menu-background, $alpha: 0);
    min-width: 36px;
    height: 36px;
    border-radius: 5px;

    &:hover {
      background-color: rgba($color: $menu-background, $alpha: 0.5);
    }

    &::before {
      content: "";
      height: 20px;
      width: 8px;
      background-color: $secondary-font-color;
      transform: rotate(45deg);
      transform-origin: bottom right;
    }

    &::after {
      content: "";
      height: 20px;
      width: 8px;
      background-color: $secondary-font-color;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }

    &--open {
      &::before {
        transform-origin: top right;
        transform: rotate(-45deg);
      }

      &::after {
        transform-origin: top left;
        transform: rotate(45deg);
      }
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 800;
    background-color: $primary-font-color;

    @include onDesktop {
      background-color: transparent;
      color: $primary-font-color;
      font-size: 28px;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(29, 29, 29, 1) 0%,
          rgba(29, 29, 29, 1) 50%,
          rgba(29, 29, 29, 0) 100%
        );

        color: $secondary-font-color;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    grid-template-columns: 162px 1fr;
    grid-template-areas: "first last";
    column-gap: 20px;
    gap: 10px;

    @include onTablet {
      align-items: center;
      display: grid;
    }
  }

  &__img {
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    aspect-ratio: 1.5 / 1;
    background-color: $page-background-night;

    &--1 {
      background-image: url(../images/bikes/bike_1.webp);
    }
    &--2 {
      background-image: url(../images/bikes/bike_2.webp);
    }
    &--3 {
      background-image: url(../images/bikes/bike_3.webp);
    }
    &--4 {
      background-image: url(../images/bikes/bike_4.webp);
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}
