@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold-700.woff2") format("woff2"),
    url("../fonts/Poppins/Poppins-Bold-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium-500.woff2") format("woff2"),
    url("../fonts/Poppins/Poppins-Medium-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular-400.woff2") format("woff2"),
    url("../fonts/Poppins/Poppins-Regular-400.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold-600.woff2") format("woff2"),
    url("../fonts/Poppins/Poppins-SemiBold-600.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
