.form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: var(--bg-form);
    gap: 16px;
    margin-bottom: 32px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: var(--bg-form);
    padding-left: 16px;

    &--textarea {
      height: 148px;
      border-radius: 16px;
      padding: 14px 16px;
    }

    &:hover {
      border: 1px solid var(--border-form);
    }
  }

  &__input {
    font-family: Poppins, sans-serif;
    color: $color-input;
    width: 100%;
    height: 100%;
    line-height: 20px;

    &::placeholder {
      font-weight: 400;
      color: var(--placeholder);
      font-size: 14px;
      line-height: 20px;
    }
  }
}
