.form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $form-backround-light;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: $form-backround-light;
    padding-left: 16px;

    &--textarea {
      height: 148px;
      border-radius: 16px;
      padding: 14px 16px;
    }

    &:hover {
      border: 1px solid $input-border-color;
    }
  }

  &__input {
    font-family: Poppins, sans-serif;
    color: $input-font-color;
    width: 100%;
    height: 100%;
    line-height: 20px;

    &::placeholder {
      font-weight: 400;
      color: $placeholder-color;
      font-size: 14px;
      line-height: 20px;
    }
  }
}
