.header {
  @include headerPadding;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;
  box-sizing: border-box;

  background-image: url("../images/backgrounds/header_bike-uhd.webp"),
    url("../images/backgrounds/header_bk-uhd.webp");

  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, right;

  @include onTablet {
    height: 628px;
    background-size: contain, cover;
    background-position: center, center;
  }

  @include onDesktop {
    height: 100vh;

    .icon--menu {
      display: none;
    }
  }

  &__top {
    z-index: 2;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include contentPaddingInline;
    top: 24px;
    left: 0;
    right: 0;

    @include onTablet {
      top: 36px;
    }
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: flex;
    }

    &__list {
      flex-direction: row;
    }

    &__item {
      display: flex;
      gap: 20px;

      &-dropdown--open {
        border-radius: 10px 10px 0 0;
        background-color: rgba($color: $menu-background, $alpha: 0.5);
      }
    }

    &__link {
      color: $secondary-font-color;
      height: 56px;

      &::after {
        background-color: $secondary-font-color;
      }

      &-dropdown--close {
        margin-left: 20px;
      }

      &-dropdown--open {
        display: block;
        position: relative;
        align-content: center;
        height: 56px;
        color: $primariy-font-color;
      }

      &-dropdown-button--close {
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 100%;
        padding-right: 20px;
        transform: translateY(5%);
        transition: all 0.3s ease-in-out;

        &:hover::before {
          content: "";
          width: 40px;
          height: 40px;
          background-color: rgba($color: $menu-background, $alpha: 0.5);
          border-radius: 5px;
          transform: translateY(-10%);
        }

        & :nth-child(-n + 2) {
          position: absolute;
          height: 20px;
          width: 8px;
          background-color: $secondary-font-color;
          top: 25%;
        }

        & :first-child {
          transform-origin: bottom left;
          transform: translateX(50%) rotate(-45deg);
        }

        & :last-child {
          transform-origin: bottom right;
          transform: translateX(-50%) rotate(45deg);
        }
      }

      &-dropdown-button--open {
        & :first-child {
          transform-origin: top right;
          transform: translateX(-50%) rotate(-45deg);
        }

        & :last-child {
          transform-origin: top left;
          transform: translateX(50%) rotate(45deg);
        }
      }
    }
  }

  &__dropdown--close {
    display: none;
  }

  &__dropdown--open {
    display: grid;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__title {
    width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  &__button-grid {
    @include pageGrid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 744px) {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
    }
  }

  &__button {
    height: 56px;

    @include onDesktop {
      height: 72px;
      margin-bottom: 50px;

      &--size {
        font-size: 32px;
      }
    }
  }
}
