.header {
  @include headerPadding;

  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;

  background-color: $page-background-night;
  background-image: url("../images/backgrounds/header_bk-fhd.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  transition: background-color 0.3s;

  @include onTablet {
    background-position: center;
    height: 628px;
  }

  @include onDesktop {
    height: 100vh;

    .icon-menu {
      display: none;
    }
  }

  &__slider {
    &-container {
      position: absolute;
      inset: 0;
      overflow: hidden;
    }

    &-track {
      position: absolute;
      inset: 0;
    }
  }

  &__image {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform, background-position;
    transition: transform 1.5s ease-out, background-position 1.5s ease-out;

    &--current {
      transform: translateX(0);
      background-position: right center;
    }

    &--next {
      transform: translateX(-100%);
      background-position: right center;
    }

    .is-animating &--current {
      transform: translateX(-100%);
    }
    .is-animating &--next {
      transform: translateX(0);
    }

    @include onTablet {
      background-size: contain;
      background-position: center;

      &--current {
        transform: translateX(0);
      }
      &--next {
        transform: translateX(-100%);
      }

      .is-animating &--current {
        transform: translateX(100%);
      }
      .is-animating &--next {
        transform: translateX(0);
      }
    }

    &--1 {
      background-image: url("../images/backgrounds/header_bike-fhd-1.webp");
    }
    &--2 {
      background-image: url("../images/backgrounds/header_bike-fhd-2.webp");
    }
    &--3 {
      background-image: url("../images/backgrounds/header_bike-fhd-3.webp");
    }
    &--4 {
      background-image: url("../images/backgrounds/header_bike-fhd-4.webp");
    }
  }

  &__top {
    z-index: 2;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "logo list icons"
      "center center center";
    justify-content: space-between;
    align-items: center;

    @include contentPaddingInline;
    top: 24px;
    left: 0;
    right: 0;

    @include onTablet {
      top: 36px;
    }
  }

  &__logo {
    grid-area: logo;
    margin-right: 20px;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: flex;
    }

    @media (max-width: 1450px) {
      grid-area: center;
    }

    &-link {
      height: 56px;

      &::after {
        background-color: $secondary-font-color;
      }

      &__dropdown--open {
        color: $primary-font-color;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &-top {
      display: flex;
      align-items: center;
      padding-inline: 20px;
      gap: 10px;
      border-radius: 10px 10px 0 0;
      background: transparent;

      &--open {
        background-color: rgba($color: $menu-background, $alpha: 0.5);
      }

      &-button {
        position: relative;
      }
    }

    &-dropdown {
      display: none;
      position: absolute;

      @media (max-width: 1450px) {
        transform: translateY(56px);
      }

      &--open {
        display: grid;
      }
    }
  }

  &__list {
    flex-direction: row;
  }

  &__icons {
    grid-column: 3 / -1;
    justify-content: end;
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }

  &__title {
    z-index: 1;
    width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  &__button {
    height: 56px;
    padding-inline: 20px;

    @include onDesktop {
      height: 72px;
      margin-bottom: 50px;

      &--size {
        font-size: 32px;
      }
    }

    &-grid {
      @include pageGrid;

      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
