.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;
  box-sizing: border-box;

  background-image: url("../images/backgrounds/header_bike-uhd.webp"),
    url("../images/backgrounds/header_bk-uhd.webp");

  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, right;

  @include onTablet {
    height: 628px;
    background-size: contain, cover;
    background-position: center, center;
  }

  @include onDesktop {
    height: 711px;
  }

  @media (min-width: 1261px) {
    height: 100vh;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__bottom {
    padding-bottom: 90px;

    @include contentPaddingInline;
    @include onTablet {
      padding-bottom: 130px;
    }

    @include onDesktop {
      padding-bottom: 203px;
    }
  }

  &__title {
    text-align: center;
    line-height: 100%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;
    margin: 0;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__button-grid {
    @include pageGrid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 744px) {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
    }
  }

  &__button {
    height: 56px;
  }
}
