.header {
  @include headerPadding;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;

  background-image: url("../images/backgrounds/header_bike-uhd.webp"),
    url("../images/backgrounds/header_bk-uhd.webp");

  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, right;

  @include onTablet {
    height: 628px;
    background-size: contain, cover;
    background-position: center, center;
  }

  @include onDesktop {
    height: 100vh;

    .icon--menu {
      display: none;
    }
  }

  &__top {
    z-index: 2;
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "logo list icons"
      "center center center";
    justify-content: space-between;
    align-items: center;

    @include contentPaddingInline;
    top: 24px;
    left: 0;
    right: 0;

    @include onTablet {
      top: 36px;
    }
  }

  &__logo {
    grid-area: logo;
    margin-right: 20px;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: flex;
    }

    @media (max-width: 1450px) {
      grid-area: center;
    }

    &__list {
      flex-direction: row;
    }

    &__details {
      display: flex;
      flex-direction: column;

      &__top {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        gap: 20px;
        border-radius: 10px 10px 0 0;
        background: transparent;

        &--open {
          background-color: rgba($color: $menu-background, $alpha: 0.5);
        }

        &-button {
          position: relative;
        }
      }

      &__dropdown {
        display: none;
        position: absolute;

        @media (max-width: 1450px) {
          transform: translateY(56px);
        }

        &--open {
          display: grid;
        }
      }
    }

    &__link {
      height: 56px;

      &::after {
        background-color: $secondary-font-color;
      }

      &__dropdown--open {
        color: $primary-font-color;
      }
    }
  }

  &__icons {
    grid-column: 3 / -1;
    justify-content: end;
    display: flex;
    gap: 24px;

    @include onTablet {
      gap: 32px;
    }
  }

  &__title {
    width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  &__button-grid {
    @include pageGrid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 744px) {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
    }
  }

  &__button {
    height: 56px;

    @include onDesktop {
      height: 72px;
      margin-bottom: 50px;

      &--size {
        font-size: 32px;
      }
    }
  }
}
