.header {
  @include headerPadding;

  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 480px;
  box-sizing: border-box;

  background-image: url("../images/backgrounds/header_bike-uhd.webp"),
    url("../images/backgrounds/header_bk-uhd.webp");

  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: 90%, right;

  @include onTablet {
    height: 628px;
    background-size: contain, cover;
    background-position: center, center;
  }

  @include onDesktop {
    height: 100vh;

    .icon--menu {
      display: none;
    }
  }

  &__top {
    z-index: 1;
    position: fixed;
    padding-inline: 120px;
    left: 0;
    right: 0;
    top: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: block;
    }

    .nav__list {
      flex-direction: row;
    }

    .nav__link {
      color: $secondary-font-color;

      &::after {
        background-color: $secondary-font-color;
        opacity: 1;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__title {
    width: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 64px;
    }

    @include onDesktop {
      font-size: 80px;
    }
  }

  &__bottom {
    display: flex;
    align-items: end;
    height: 100%;
    width: 100%;
  }

  &__button-grid {
    @include pageGrid;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 20px;

    @media (max-width: 744px) {
      width: calc(100% - 40px);
      margin: 0 20px 20px;
    }
  }

  &__button {
    height: 56px;

    @include onDesktop {
      height: 72px;
      margin-bottom: 50px;

      &--size {
        font-size: 32px;
      }
    }
  }
}
