.icon {
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  &-phone {
    background-image: url(../images/icons/icon-phone.svg);

    &--black {
      background-image: url(../images/icons/icon-phone-black.svg);
    }
  }

  &-menu {
    background-image: url(../images/icons/icon-menu.svg);

    &--black {
      background-image: url(../images/icons/icon-menu-black.svg);
    }

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  @include onTablet {
    height: 32px;
    width: 32px;
  }
}

.logo {
  display: flex;

  &__img {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: 56px;
    }
  }
}
