.icon {
  display: block;
  background-size: cover;
  height: 24px;
  width: 24px;

  @include hover(transform, scale(1.2));

  &-phone {
    background-image: url(../images/icons/icon-phone.svg);

    &--black {
      background-image: url(../images/icons/icon-phone-black.svg);
    }
  }

  &-menu {
    background-image: url(../images/icons/icon-menu.svg);

    &:hover {
      background-image: url(../images/icons/icon-menu-hover.svg);
    }

    &--black {
      background-image: url(../images/icons/icon-menu-black.svg);

      &:hover {
        background-image: url(../images/icons/icon-menu-hover-black.svg);
      }
    }
  }

  &-shop {
    display: none;
    background-image: url(../images/icons/icon-shop-white.svg);

    &--black {
      background-image: url(../images/icons/icon-shop-black.svg);
    }

    @include onDesktop {
      display: block;
    }
  }

  &--close {
    background-image: url(../images/icons/icon-close.svg);
  }

  @include onTablet {
    height: 32px;
    width: 32px;
  }
}

.logo {
  display: flex;

  &__img {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: 56px;
    }
  }
}

.counter {
  --shop-count: "";

  &::after {
    content: var(--shop-count);
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 12px;
    width: 12px;
    background-color: red;
    border-radius: 50%;
    left: calc(100% - 10px);
    font-size: 8px;
  }

  &--open {
    &::after {
      display: flex;
    }
  }
}
