.main {
  &__wrapper {
    @include mainPadding;
  }
}

.body {
  min-width: 320px;
}

.top {
  padding-block: 24px;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 36px;
  }
}

.logo-link {
  display: flex;
}

.logo-img {
  height: 38px;
  @include hover(transform, scale(1.2));
  @include onTablet {
    height: 56px;
  }
}

.section {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}

.button {
  height: 56px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: $secondary-font-color;
  color: $primariy-font-color;
  border-radius: 40px;

  &--details {
    height: 36px;
    width: 120px;
  }

  &--buy {
    max-width: 320px;
  }
}

.form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #f8f8fa;
    gap: 16px;
    margin-bottom: 32px;
  }

  &::placeholder {
    font-weight: 400;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: #f8f8fa;
    padding-left: 16px;
  }

  &__input {
    width: 100%;
    height: 100%;
  }

  &__label-textarea {
    height: 148px;
    border-radius: 16px;
    padding: 14px 16px;
  }
}
