.main {
  &__wrapper {
    @include mainPadding;

    @media (min-width: 1260px) and (max-width: 1450px) {
      padding-top: 150px;
    }
  }

  &__sticky {
    z-index: 1;
    position: sticky;
    height: 0;
    top: 0;

    &::before {
      transition: background-color 0.3s;

      display: block;
      content: "";
      height: 62px;
      top: 0;
      background-color: $page-background-night;
      opacity: 0.9;

      @include onTablet {
        height: 92px;
      }

      @media (min-width: 1260px) and (max-width: 1450px) {
        height: 150px;
      }
    }
  }
}
