.body {
  min-width: 320px;
}

.main {
  &__wrapper {
    @include mainPadding;

    @media (min-width: 1260px) and (max-width: 1450px) {
      padding-top: 150px;
    }
  }

  &__sticky {
    z-index: 1;
    position: sticky;
    height: 0;
    top: 0;

    &::before {
      transition: background-color 0.3s;

      display: block;
      content: "";
      height: 62px;
      top: 0;
      background-color: $page-background-night;
      opacity: 0.9;

      @include onTablet {
        height: 92px;
      }

      @media (min-width: 1260px) and (max-width: 1450px) {
        height: 150px;
      }
    }
  }
}

.logo {
  display: flex;

  &__img {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: 56px;
    }
  }
}

.section {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;
    grid-column: span 2;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}

.button {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: $secondary-font-color;
  color: $primary-font-color;
  border-radius: 40px;
  border: 1px solid $secondary-font-color;
  transition: all 0.2s ease;

  &:hover {
    -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
  }

  &:active {
    -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
    box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
  }

  &-double {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }

    display: flex;

    &__link {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &__left {
      border-right: 1px solid $primary-font-color;
      border-radius: 40px 0 0 40px;
      font-size: 10px;

      @include onTablet {
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.1);
        transform-origin: right;
        color: $secondary-font-color;
        background-color: transparent;
        border-right: 1px solid $secondary-font-color;
      }
    }

    &__right {
      border-left: 1px solid $primary-font-color;
      border-radius: 0 40px 40px 0;
      font-size: 10px;

      @include onTablet {
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.1);
        transform-origin: left;
        color: $secondary-font-color;
        background-color: transparent;
        border-left: 1px solid $secondary-font-color;
      }
    }
  }
}

.form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $form-backround-light;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: $form-backround-light;
    padding-left: 16px;

    &--textarea {
      height: 148px;
      border-radius: 16px;
      padding: 14px 16px;
    }

    &:hover {
      border: 1px solid $input-border-color;
    }
  }

  &__input {
    font-family: Poppins, sans-serif;
    color: $input-font-color;
    width: 100%;
    height: 100%;
    line-height: 20px;

    &::placeholder {
      font-weight: 400;
      color: $placeholder-color;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.dropdown {
  position: static;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-flow: row;
  max-height: 536px;
  overflow-y: scroll;
  overflow-x: clip;
  row-gap: 20px;
  z-index: 1;
  top: 56px;
  background-color: rgba($color: $menu-background, $alpha: 0.5);
  padding-inline: 10px;
  padding-block: 56px;
  border-radius: 0 0 10px 10px;

  &:hover::-webkit-scrollbar {
    width: 5px;
  }

  @include resetScrollBar;

  &-button {
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    background-color: rgba($color: $menu-background, $alpha: 0);
    min-width: 36px;
    height: 36px;
    border-radius: 5px;

    &:hover {
      background-color: rgba($color: $menu-background, $alpha: 0.5);
    }

    &::before {
      content: "";
      height: 20px;
      width: 8px;
      background-color: $secondary-font-color;
      transform: rotate(45deg);
      transform-origin: bottom right;
    }

    &::after {
      content: "";
      height: 20px;
      width: 8px;
      background-color: $secondary-font-color;
      transform: rotate(-45deg);
      transform-origin: bottom left;
    }

    &--open {
      &::before {
        transform-origin: top right;
        transform: rotate(-45deg);
      }

      &::after {
        transform-origin: top left;
        transform: rotate(45deg);
      }
    }
  }

  &__item {
    font-size: 12px;
    font-weight: 800;
    // color: $secondary-font-color;
    background-color: $primary-font-color;

    @include onDesktop {
      background-color: transparent;
      color: $primary-font-color;
      font-size: 28px;
      &:hover {
        background: linear-gradient(
          90deg,
          rgba(29, 29, 29, 1) 0%,
          rgba(29, 29, 29, 1) 50%,
          rgba(29, 29, 29, 0) 100%
        );

        color: $secondary-font-color;
      }
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    grid-template-columns: 162px 1fr;
    grid-template-areas: "first last";
    column-gap: 20px;
    gap: 10px;

    @include onTablet {
      align-items: center;
      display: grid;
    }
  }

  &__img {
    height: 100%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    aspect-ratio: 1.5 / 1;
    background-color: $page-background-night;

    &--1 {
      background-image: url(../images/bikes/bike_3.webp);
    }
    &--2 {
      background-image: url(../images/bikes/bike_4.webp);
    }
    &--3 {
      background-image: url(../images/bikes/bike_2.webp);
    }
  }

  &__text {
    text-align: center;
    margin-bottom: 10px;

    @include onTablet {
      margin-bottom: 0;
    }
  }
}

.no-wrap-text {
  white-space: nowrap;
}
