.body {
  min-width: 320px;
}

.main {
  &__wrapper {
    @include mainPadding;
  }

  &__sticky {
    z-index: 1;
    position: sticky;
    height: 0;
    top: 0;

    &::before {
      display: block;
      content: "";
      height: 62px;
      top: 0;
      background-color: $page-background-night;
      opacity: 0.9;

      @include onTablet {
        height: 92px;
      }

      @media (max-width: 1450px) {
        height: 140px;
      }
    }
  }
}

.logo {
  display: flex;

  &__img {
    height: 38px;

    @include hover(transform, scale(1.2));

    @include onTablet {
      height: 56px;
    }
  }
}

.section {
  &__title {
    text-align: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;
    grid-column: span 2;

    @include onTablet {
      font-size: 48px;
    }

    @include onDesktop {
      font-size: 64px;
    }
  }
}

.button {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: $secondary-font-color;
  color: $primariy-font-color;
  border-radius: 40px;
  border: 1px solid $secondary-font-color;
  transition: all 0.2s ease;

  &--double {
    grid-column: span 2;
    color: $primariy-font-color;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }

    display: flex;

    &__link {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: inherit;
    }

    &__left {
      border-right: 1px solid $primariy-font-color;
      border-radius: 40px 0 0 40px;

      &:hover {
        transform: scale(1.1);
        transform-origin: right;
        color: $secondary-font-color;
        background-color: transparent;
        border-right: 1px solid $secondary-font-color;
      }
    }

    &__right {
      border-left: 1px solid $primariy-font-color;
      border-radius: 0 40px 40px 0;

      &:hover {
        transform: scale(1.1);
        transform-origin: left;
        color: $secondary-font-color;
        background-color: transparent;
        border-left: 1px solid $secondary-font-color;
      }
    }
  }
}

.button:hover {
  -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
}

.button:active {
  -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
  box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
}

.form {
  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: $form-backround-light;
    gap: 16px;
    margin-bottom: 32px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: $form-backround-light;
    padding-left: 16px;

    &--textarea {
      height: 148px;
      border-radius: 16px;
      padding: 14px 16px;
    }

    &:hover {
      border: 1px solid $input-border-color;
    }
  }

  &__input {
    font-family: Poppins, sans-serif;
    color: $input-font-color;
    width: 100%;
    height: 100%;
    line-height: 20px;

    &::placeholder {
      font-weight: 400;
      color: $placeholder-color;
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.no-wrap-text {
  white-space: nowrap;
}
