.main {
  padding: 60px 20px 120px 20px;
}

.section {
  &__title {
    text-align: center;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 48px;
  }
}

.section-free {
  font-weight: 500;
  font-size: 23px;
  line-height: 140%;
  margin-bottom: 92px;

  &__title {
    margin-bottom: 32px;
    font-size: 32px;
    line-height: 100%;
  }
}

.section-bikes {
  display: flex;
  flex-direction: column;
  margin-bottom: 92px;

  &__card:not(:last-child) {
    margin-bottom: 40px;
  }

  &__img {
    width: 280px;
    height: 228px;
    margin-bottom: 32px;
  }

  &__img--1 {
    background-image: url(../images/bikes/sporty_4-high.png);
  }

  &__img--2 {
    background-image: url(../images/bikes/ride_in_town_ST.png);
  }

  &__img--3 {
    background-image: url(../images/bikes/agile_ride_3.png);
  }

  &__description {
    margin-bottom: 16px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.section-details {
  margin-bottom: 80px;

  &__card {
    margin-bottom: 40px;
  }

  &__images {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
  }

  &__img {
    width: 130px;
    height: 130px;
  }

  &__img--1 {
    background-image: url(../images/bikes/ride_in_town_ST-1-low.png);
  }

  &__img--2 {
    background-image: url(../images/bikes/ride_in_town_ST-2-low.png);
  }

  &__img--3 {
    background-image: url(../images/bikes/ride_in_town_ST-3-low.png);
  }

  &__img--4 {
    background-image: url(../images/bikes/ride_in_town_ST-4-low.png);
  }

  &__img--5 {
    background-image: url(../images/bikes/ride_in_town_ST-5-low.png);
  }

  &__img--6 {
    background-image: url(../images/bikes/ride_in_town_ST-6-low.png);
  }
}

.card {
  &__img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
    margin-bottom: 8px;
  }

  &__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }

  &__price {
    font-weight: 700;
    font-size: 24px;
    line-height: 140%;
  }
}

.button__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  height: 56px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: $secondary-font-color;
  color: $primariy-font-color;
  border-radius: 40px;

  &--details {
    height: 36px;
    width: 120px;
  }

  &--buy {
    max-width: 320px;
  }
}

.form {
  margin-bottom: 48px;

  &__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #f8f8fa;
    gap: 16px;
    margin-bottom: 32px;
  }

  &::placeholder {
    font-weight: 400;
    color: inherit;
    font-size: 14px;
    line-height: 20px;
  }

  &__label {
    height: 48px;
    width: 100%;
    border-radius: 40px;
    background-color: #f8f8fa;
    padding-left: 16px;
  }

  &__input {
    width: 100%;
    height: 100%;
  }

  &__label-textarea {
    height: 148px;
    border-radius: 16px;
    padding: 14px 16px;
  }
}

.contacts-info {
  ul:not(:last-child) {
    font-weight: 400;
    margin-bottom: 24px;
  }

  li {
    font-weight: 500;
    font-size: 16px;
  }

  p {
    font-size: 14px;
    line-height: 140%;
    color: #cecece;
    margin-bottom: 8px;
  }
}

footer {
  height: 200px;
  background-image: url(../images/footer.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}
