.menu {
  z-index: 2;
  @include headerPadding;

  height: 100vh;

  background-color: $menu-background;
  font-weight: 600;

  position: fixed;
  overflow-y: scroll;

  top: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;

  &--open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 44px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__link {
    color: $primary-font-color;

    &::after {
      margin-bottom: -8px;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;

    &-link {
      display: flex;
      gap: 10px;
    }

    &-dropdown {
      padding-block: 0;
      height: 0;

      &--open {
        height: 100%;
      }
    }
  }

  &__dropdown {
    &-button {
      transform: scale(0.7);
      &:hover {
        background-color: rgba($color: $page-background-night, $alpha: 0.5);
      }

      &::after,
      &::before {
        background-color: $primary-font-color;
      }
    }
  }

  &__content {
    font-weight: 600;
    color: $primary-font-color;
  }

  &__phone-number {
    display: block;
    color: inherit;

    margin-bottom: 16px;
  }

  &__book-test-ride {
    display: block;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    width: fit-content;
    color: inherit;
    text-transform: uppercase;

    border-bottom: 1px solid $primary-font-color;
  }
}
