.menu {
  z-index: 2;
  @include headerPadding;

  height: 100vh;
  box-sizing: border-box;
  background-color: $menu-background;
  font-weight: 600;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;

  &--open {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 48px;

    @include onTablet {
      margin-bottom: 44px;
    }

    @include onDesktop {
      margin-bottom: 60px;
    }
  }

  &__nav {
    margin-bottom: 40px;

    &-link::after {
      margin-bottom: -8px;
    }

    &-link {
      color: $primariy-font-color;
    }
  }

  &__content {
    font-weight: 600;
    color: $primariy-font-color;
  }

  &__phone-number {
    display: block;
    color: inherit;

    margin-bottom: 16px;
  }

  &__book-test-ride {
    display: block;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    width: fit-content;
    color: inherit;
    text-transform: uppercase;

    border-bottom: 1px solid $primariy-font-color;
  }
}
