.menu {
  height: 100vh;
  box-sizing: border-box;
  background-color: #c2c2c2;
  font-weight: 600;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;

  transition: all 0.3s;
  transform: translateX(-100%);
  pointer-events: none;

  &:target {
    opacity: 1;
    transform: translateX(0);
    pointer-events: all;
  }

  &__top {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 8px;
    }

    @include onDesktop {
      margin-bottom: 24px;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__content {
    font-weight: 600;
    padding-inline: 20px;
    color: $primariy-font-color;

    @include onTablet {
      padding-inline: 72px;
    }

    @include onDesktop {
      padding-inline: 120px;
    }
  }

  &__phone-number {
    display: block;
    color: inherit;

    margin-bottom: 16px;
  }

  &__book-test-ride {
    display: block;
    height: 24px;
    font-size: 12px;
    line-height: 16px;
    width: fit-content;
    color: inherit;
    text-transform: uppercase;

    border-bottom: 1px solid $primariy-font-color;
  }
}
