.nav {
  &__list {
    display: flex;
    flex-direction: column;

    gap: 32px;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
  }

  &__item {
    display: flex;
  }

  &__link {
    position: relative;
    display: block;
    color: $primariy-font-color;
    text-transform: uppercase;

    &::after {
      opacity: 0;
      content: "";
      position: absolute;
      bottom: -8px;
      display: block;
      height: 1px;
      width: 100%;
      background-color: $primariy-font-color;

      transition: transform 0.3s;
      transform: scale(0);
      transform-origin: left;
    }

    &:hover::after {
      opacity: 1;
      transform: scale(1);
    }
  }
}
