.page {
  font-family: Poppins, sans-serif;
  color: $secondary-font-color;
  scroll-behavior: smooth;
  background-color: $primariy-font-color;

  &__body {
    min-width: 320px;
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;

    transition: all 0.3s;
    transform: translateX(-100%);
    pointer-events: none;

    &:target {
      opacity: 1;
      transform: translateX(0);
      pointer-events: all;
    }
  }
}
