.page {
  font-family: Poppins, sans-serif;
  color: var(--font-primary);
  scroll-behavior: smooth;
  background-color: var(--bg-page);
  transition: all 0.3s;

  &--overflow {
    overflow: hidden;
  }
}
