.page {
  font-family: Poppins, sans-serif;
  color: $secondary-font-color;
  scroll-behavior: smooth;
  background-color: $primary-font-color;
  transition: all 0.3s;

  &--overflow {
    overflow: hidden;
  }
}
