.theme-switcher {
  color: $primary-font-color;
  background-color: $page-background-day;

  .header {
    background-image: none;
    background-color: $menu-background;

    &__title {
      background-color: rgba($color: $menu-background, $alpha: 0.5);
      border-radius: 20px;
      color: $primary-font-color;
    }
  }

  .main {
    &__sticky {
      &::before {
        background-color: $page-background-day;
      }
    }
  }

  .button {
    background-color: $primary-font-color;
    color: $secondary-font-color;
    border: 1px solid $primary-font-color;

    &:hover {
      -webkit-box-shadow: 1px 4px 16px 0px rgba(29, 29, 29, 0.4);
      box-shadow: 1px 4px 16px 0px rgba(29, 29, 29, 0.4);
    }

    &:active {
      -webkit-box-shadow: 1px 4px 16px 0px rgba(29, 29, 29, 0.64);
      box-shadow: 1px 4px 16px 0px rgba(29, 29, 29, 0.64);
    }

    &--double-left {
      border-right: 1px solid $secondary-font-color;

      &:hover {
        color: $primary-font-color;
        background-color: transparent;
        border-right: 1px solid $primary-font-color;
      }
    }

    &--double-right {
      border-left: 1px solid $secondary-font-color;

      &:hover {
        color: $primary-font-color;
        background-color: transparent;
        border-left: 1px solid $primary-font-color;
      }
    }
  }

  .nav {
    &__link::after {
      background-color: $primary-font-color;
    }
  }

  .contacts__info p {
    color: #545454;
  }

  .header__details-top--open {
    background-color: rgba($color: $page-background-night, $alpha: 0.5);
  }

  .dropdown {
    background-color: rgba($color: $page-background-night, $alpha: 0.5);

    &-button {
      &:hover {
        background-color: rgba($color: $page-background-night, $alpha: 0.5);
      }
    }
    &-button::after,
    &-button::before {
      background-color: $primary-font-color;
    }

    &__item {
      background-color: $page-background-day;
      @include onDesktop {
        background-color: transparent;

        &:hover {
          .dropdown__text {
            color: $primary-font-color;
          }
        }
      }
    }

    &__text {
      color: $primary-font-color;
      @include onDesktop {
        color: $secondary-font-color;
      }
    }

    &__link {
      color: $secondary-font-color;

      &:hover {
        background: linear-gradient(
          90deg,
          rgba(182, 181, 174, 1) 0%,
          rgba(182, 181, 174, 1) 50%,
          rgba(182, 181, 174, 0) 100%
        );

        color: $primary-font-color;
      }
    }

    &__img {
      background-color: $page-background-day;
    }
  }

  .compare {
    &__card {
      background-color: rgba($color: $menu-background, $alpha: 0.5);
    }

    &__dropdown {
      &-top {
        background-color: rgba($color: $page-background-night, $alpha: 0.5);

        &-bike {
          color: $secondary-font-color;
        }

        &-button {
          &::before,
          &::after {
            background-color: $secondary-font-color;
          }

          &:hover {
            background-color: rgba($color: $menu-background, $alpha: 0.5);
          }
        }
      }

      &-link--last {
        &:hover {
          background: linear-gradient(
            -90deg,
            rgba(182, 181, 174, 1) 0%,
            rgba(182, 181, 174, 1) 50%,
            rgba(182, 181, 174, 0) 100%
          );
        }
      }
    }

    &__tth {
      &-item {
        background: linear-gradient(
          90deg,
          rgba(182, 181, 174, 0) 0%,
          rgba(182, 181, 174, 0.6) 25%,
          rgba(182, 181, 174, 1) 50%,
          rgba(182, 181, 174, 0.6) 75%,
          rgba(182, 181, 174, 0) 100%
        );
      }

      &-text {
        color: $primary-font-color;
      }
    }
  }

  .form {
    &__label {
      background-color: $placeholder-color;

      &:hover {
        border: 1px solid $primary-font-color;
      }
    }

    &__input {
      &::placeholder {
        color: $primary-font-color;
      }
    }
  }

  .compare__tth {
    &-item {
      color: $secondary-font-color;
    }
  }
}
