@import "./utils/variables";
@import "./utils/mixins";
@import "./utils/reset";

@import "./blocks/main";
@import "./blocks/menu";
@import "./blocks/nav";
@import "./blocks/header";
@import "./blocks/icon";
@import "./blocks/card";
@import "./blocks/page";

@import "./blocks/sections/free";
@import "./blocks/sections/bikes";
@import "./blocks/sections/details";
@import "./blocks/sections/contacts";
@import "./blocks/sections/compare";
@import "./blocks/footer";

@import "./blocks/theme-switcher";
