.button {
  width: 100%;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  background-color: var(--secondary-font-color);
  color: var(--primary-font-color);
  border-radius: 40px;
  border: 1px solid $secondary-font-color;
  transition: all 0.2s ease;

  &:hover {
    -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
    box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.4);
  }

  &:active {
    -webkit-box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
    box-shadow: 1px 4px 16px 0px rgba(255, 255, 255, 0.64);
  }

  @include noHoverOnTouch;

  &--double {
    grid-column: span 2;

    @include onTablet {
      grid-column: 2 / -2;
    }

    @include onDesktop {
      grid-column: 5 / -5;
    }

    display: flex;

    &-link {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }

    &-left {
      border-right: 1px solid $primary-font-color;
      border-radius: 40px 0 0 40px;
      font-size: 14px;

      @include onTablet {
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.1);
        transform-origin: right;
        color: $secondary-font-color;
        background-color: transparent;
        border-right: 1px solid $secondary-font-color;
      }

      @include noHoverOnTouch;
    }

    &-right {
      border-left: 1px solid $primary-font-color;
      border-radius: 0 40px 40px 0;
      font-size: 14px;

      @include onTablet {
        font-size: 16px;
      }

      &:hover {
        transform: scale(1.1);
        transform-origin: left;
        color: $secondary-font-color;
        background-color: transparent;
        border-left: 1px solid $secondary-font-color;
      }

      @include noHoverOnTouch;
    }
  }
}

.no-wrap-text {
  white-space: nowrap;
}

.switcher {
  display: flex;
  height: 24px;
  width: 48px;
  border: 2px solid $secondary-font-color;
  border-radius: 50px;

  transition: background-color 0.3s ease, border-color 0.3s ease;

  &--day {
    border: 2px solid $page-background-night;
  }

  @include onTablet {
    height: 32px;
    width: 64px;
  }

  &__icon {
    display: flex;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: transform 0.3s ease;

    &--day {
      transform: translateX(calc(50% + 2px));
    }
  }

  &__img {
    display: block;
    transition: transform 0.3s ease;
    rotate: 180deg;

    &--day {
      transform: rotate(180deg);
    }
  }
}

.scroll-top {
  z-index: 1;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 10px;
  right: 10px;
  width: 52px;
  height: 52px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;

  @include onTablet {
    width: 52px;
    height: 52px;
    bottom: 24px;
    right: 24px;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 10px;
    background-color: rgba($color: $page-background-day, $alpha: 1);
    transition: background-color 0.3s;
  }

  &::before {
    transform-origin: top left;
    transform: translate(50%) rotate(45deg);
  }

  &::after {
    transform-origin: top right;
    transform: translate(-50%) rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: rgba($color: $page-background-day, $alpha: 1);
  }

  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
