@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin mainPadding() {
  padding-inline: 20px;
  padding-top: 60px;
  padding-bottom: 120px;

  @include onTablet {
    padding-inline: 72px;
    padding-block: 120px;
  }

  @include onDesktop {
    padding-inline: 120px;
    padding-top: 120px;
    padding-bottom: 182px;
    max-width: 1020px;
    margin-inline: auto;
  }
}

@mixin contentPaddingInline() {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}
