@mixin onTablet {
  @media (min-width: $tablet-min-width) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: $desktop-min-width) {
    @content;
  }
}

@mixin contentPaddingInline {
  padding-inline: 20px;

  @include onTablet {
    padding-inline: 72px;
  }

  @include onDesktop {
    padding-inline: 120px;
  }
}

@mixin headerPadding {
  @include contentPaddingInline;

  padding-top: 24px;
  padding-bottom: 88px;

  @include onTablet {
    padding-top: 36px;
    padding-bottom: 130px;
  }

  @include onDesktop {
    padding-bottom: 203px;
  }
}

@mixin mainPadding {
  @include contentPaddingInline;
  max-width: 1260px;
  margin-inline: auto;

  padding-top: 60px;
  padding-bottom: 120px;

  @include onTablet {
    padding-top: 120px;
  }

  @include onDesktop {
    padding-bottom: 182px;
  }
}

@mixin hover($property, $toValue) {
  transition: #{$property} 0.3s;
  &:hover {
    #{$property}: $toValue;
  }
}

@mixin pageGrid {
  --grid-columns: 2;
  display: grid;
  column-gap: 20px;
  grid-template-columns: repeat(var(--grid-columns), 1fr);

  @include onTablet {
    --grid-columns: 6;
    column-gap: 24px;
  }

  @include onDesktop {
    --grid-columns: 12;
  }
}

@mixin contentTitleFonts {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 8px;
}

@mixin contentDescriptionFonts {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 16px;
}

@mixin resetScrollBar {
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba($color: $secondary-font-color, $alpha: 0.5);
    border-radius: 5px;
  }
}

@mixin noHoverOnTouch {
  @media (hover: none), (pointer: coarse) {
    &:hover:not(:active) {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      transform: none !important;
      background-color: var(--secondary-font-color) !important;
      color: var(--primary-font-color) !important;
      border-color: inherit !important;
    }
  }

  .touch-device & {
    &:hover:not(:active) {
      box-shadow: none !important;
      -webkit-box-shadow: none !important;
      transform: none !important;
      background-color: var(--secondary-font-color) !important;
      color: var(--primary-font-color) !important;
      border-color: inherit !important;
      cursor: default !important;
    }
  }
}
