* {
  margin: 0;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  padding: 0;
  list-style: none;
}

button {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: inherit;
  cursor: pointer;
}

button:focus {
  outline: none;
}

form,
label,
input,
textarea {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  box-sizing: border-box;
}

input,
textarea {
  appearance: none; /* прибирає нативний вигляд */
  -webkit-appearance: none; /* для Safari */
}

textarea {
  resize: none; /* забороняє змінювати розмір */
}
