// Основні кольори
$color-dark: #1d1d1d;
$color-light: #b6b5ae;
$color-white: #fff;
$color-gray: #c2c2c2;
$color-input: #292929;

// Брейкпоінти
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$compare-column-gap: 20px;
$details-min-height: 375px;
