$page-background-night: #1d1d1d;
$primary-font-color: #1d1d1d;
$secondary-font-color: #fff;
$form-backround-light: #f8f8fa;
$input-font-color: #292929;
$input-border-color: #d5d7de;
$placeholder-color: #7e7e83;
$menu-background: #c2c2c2;
$tablet-min-width: 744px;
$desktop-min-width: 1260px;
$compare-column-gap: 20px;
